@inherits ServersViewModel
@page "/servers"
@inject IHttpContextAccessor HttpContextAccessor

@* from https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag *@
<style>
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        padding-bottom: 10px;
    }
</style>

<PageTitle>Servers</PageTitle>

<h1>Servers</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var server in this.GameServerService.GetRunningServers())
        {
            <div class="col-md-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <strong>@server.Options.Name</strong>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dd class="col-4">Host:</dd>
                            <dt class="col-8">@HttpContextAccessor?.HttpContext?.Request?.Host.Host</dt>
                            <dd class="col-4">Port:</dd>
                            <dt class="col-8">@server.Options.ListenPort</dt>
                            <dd class="col-4">Ingame:</dd>
                            <dt class="col-8">@server.HasStarted</dt>
                            <dd class="col-4">Players:</dd>
                            <dt class="col-8">@server.PlayerCount</dt>
                            <dd class="col-4">Time left:</dd>
                            <dt class="col-8">@Math.Round((server.StopAt - DateTime.Now).TotalHours, 1) h</dt>
                        </dl>
                        <div class="row">
                            <pre>
                                @server.ProcessOutput.ToString()
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
